<html lang='en' dir='ltr'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
    />

    <title></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap'
      rel='stylesheet'
    />
    <script
      src='https://kit.fontawesome.com/a5b80fbed0.js'
      crossorigin='anonymous'
    ></script>

  </head>
  <body>

    <main id='site-main'>
      <div class='container'>
        <div class='box-nav d-flex justify-between'>
          <div class='filter'>
            <a href='/'><i class='fas fa-angle-double-left'></i>All Users</a>
          </div>

        </div>

        <div class='form-title text-center'>
          <h2 class='text-dark'>Update User</h2>
          <span class='text-light'>Use the below form to Update your account</span>

        </div>

        <!--form handling-->
        <form
          class=''
          id='update_user'
          action='/upddate/{{data._id}}'
          method='post'
        >
          <div class='new_user'>
            <div class='form-group'>
              <label for='name' class='text-light'>Name</label>
              <input type='hidden' name='id' value='' />
              <input
                type='text'
                name='name'
                value='{{data.name}}'
                placeholder='Mark Stoenis'
              />

            </div>
            <div class='form-group'>
              <label for='Email' class='text-light'>Email</label>
              <input
                type='text'
                name='email'
                value='{{data.email}}'
                placeholder='example@gmil.com'
              />

            </div>
            <div class='form-group'>
              <label for='gender' class='text-light'>Gender</label>
              <input
                type='text'
                name='gender'
                value='{{data.gender}}'
                placeholder='Male/Female'
              />

            </div>
            <div class='form-group'>
              <label for='status' class='text-light'>Status</label>
              <input
                type='text'
                name='status'
                value='{{data.status}}'
                placeholder='Active/Inactive'
              />

            </div>
            <!-- <div class="form-group">
            <label for="gender "  class="text-light">Gender</label>
            <div class="radio inline">
              <input type="radio" id="radio-2" name="gender" value="Male" ">
              <label for="radio-2" class="radio-label">Male</label>

            </div>
            <div class="radio inline">
              <input type="radio" id="radio-3" name="gender" value="Female" ">
              <label for="radio-3" class="radio-label">Female</label>

            </div>

            <div class="form-group">
              <label for="gender" class="text-light">Status</label>
              <div class="radio inline">
                <input type="radio" id="radio-4"name="gender" value="Male" ">
                <label for="radio-4" class="radio-label">Active</label>

              </div>
              <div class="radio inline">
                <input type="radio" id="radio-5" name="gender" value="Female" ">
                <label for="radio-5" class="radio-label">Inactive</label>

              </div>

          </div> -->
            <div class='form-group b1p'>
              <button
                type='submit'
                class='btn b2 text-dark update'
                name='button'
              >Save</button>

            </div>

          </div>

        </form>

      </div>

    </main>

  </body>
</html>